/*Typography*/
:root {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: #000;
  text-decoration: none;
}

/*General Structure*/
.hidden {
  display: none;
}

figure {
  margin: 0 auto;
}
  figure img {
    max-width: 100%;
    display: inline;
  }

.list-no-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-no-style-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}
  .list-no-style-inline li {
    display: inline;
    margin-right: 1em;
  }

/*Structure*/
body {
  padding: 0 4rem;
}
  @media (max-width: 860px) {
    body {
      padding: 0;
    }
  }

.container, .pagination, body > footer {
  margin: 4rem auto;
  max-width: 1200px;
}

/*Holds sidebar and post area*/
.container{
  font-size: 1rem
}
  @media (min-width: 860px) {
    /*Makes sidebar and post area Side-By-Side*/
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  @media (max-width: 860px) {
    /*Center sidebar and post area*/
    aside, main {
      margin: 4rem auto;
    }
  }

  aside {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    margin-bottom: 4rem;
    border-radius: .125em;
  }
    @media (min-width: 860px) and (max-width: 1000px) {
      aside {
        margin-right: 2em;
      }
    }

    aside > * {
      margin: 2em;
    }

    aside header {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
      aside .avatar {
        width: 100px;
        height: 100px;
      }
      aside header h1 {
        text-align: center;
      }

    .description, .status {
      text-align: center;
    }

    .description {
    }

    .status {
      font-weight: 300;
    }

    .pages {
    }
      .pages li {
        transition: background .5s;
        border: 1px solid #fff;
        border-right: none;
        border-left: none;
      }
      .pages li:hover {
        transition: background .5s;
        background-color: rgba(0, 0, 0, .125);
      }

      .pages a {
        padding: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      @media (min-width: 300px) and (max-width: 860px) {
        .pages ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
        .pages span {
        }
      }
        .pages a > * {
          margin-right: 1em;
        }
        .pages img {
          height: 1.5em;
          width: 1.5em;
        }

  main {
    width: 100%;
    max-width: 700px;
    overflow: hidden;
  }
    @media (min-width: 860px) and (max-width: 1200px) {
      main {
        max-width: 525px;
      }
    }

    article {
      margin-bottom: 4rem;
      width: 100%;
      border-radius: .125em;
    }
      article > * {
        overflow: hidden;
      }

      article > header, article > footer {
        font-size: .75rem;
        padding: 1em 2rem;
      }

        @media (max-width: 600px) {
          article > header, article > footer {
            padding: 1em 1rem;
          }
        }


      article > header {
        line-height: 1.5;
        border-radius: .125em .125em 0 0;
      }
        article > header a {
          text-decoration: underline;
        }

      .content {
        font-size: 1rem;
      }
        .content > * {
          margin: 2em;
        }

        @media (max-width: 600px) {
          .content > * {
            margin: 2em 1em;
          }
        }

        .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
          margin: 1em 0;
        }
          .content h1 {
            font-size: 1.5em;
          }
          .content h2 {
            font-size: 1.25em;
          }

        /*Photo[set], Video, Audio Posts*/
        .content > figure > * {
          display: block;
          margin: 1.25em auto;
        }

        /*Chat Posts*/
        .chat {
        }
          .chat-odd, .chat-even {
            padding: .5em;
          }
          .chat-odd {
            background-color: rgba(0, 0, 0, .25);
          }
          .chat-even {
            background-color: rgba(0, 0, 0, 0.125);
          }

        .link {
        }
          .link a {
            padding: 2em;
            display: block;
          }
          .link-info {
            font-size: .8em;
          }

        .answer {
        }
          .asker{
          }

          .answerer {
          }

          .message {
            margin: 2em 0;
            padding: 1em 2em;
            border: 1px solid #000;
            border-radius: 3px;
            overflow: hidden;
          }
            .user {
              margin: 1em auto;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
            }
              .user > * {
                margin-right: 1em;
              }
              .user img {
                width: 64px;
                height: 64px;
                border-radius: 100%;
              }

            .message .caption {
            }


        @media (max-width: 600px) {
          .content > figure, .chat {
            margin: 2em 0;
          }

          .link, .answer {
            margin: 2em .5em;
          }
        }

        @media (min-width: 860px) and (max-width: 1200px) {
          .content > figure, .chat {
            margin: 2em 0;
          }

          .answer {
            margin: 2em .5em;
          }
        }

        /*Text, Photo[set], Link, Video, Audio, Answer*/
        .caption {
          line-height: 1.5;
        }

          .caption a {
            text-decoration: underline;
          }

          .caption blockquote {
            margin: 0 0 0 .5em;
            padding: 0 0 0 .5em;
            border-left: 2px solid #000;
            border-bottom: 1px solid #000;
          }

          .caption figure {
            margin: 1em 0;
          }

      article > footer{
      }
        .post-buttons {
        }

        .tags {
        }
          .tags ul {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            align-items: baseline;
          }
            .tags li {
              margin: .25em;
            }
            .tags li a {
              border-radius: .5em;
              padding: .5em;
              display: inline-block;
            }
            .tags li a:hover {
              text-decoration: underline;
            }

/*Ask Box*/
.ask-box {
}
  .close {
    float: right;
    border-radius: .5em;
    height: 2em;
    width: 2em;
  }

/*Navigation*/
.pagination {
 font-size: 1rem;
 margin-top: 2em;
 margin-bottom: 2em;
}
  .pagination ul {
    max-width: 600px;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: .125em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
    .pagination li {
    }
      .pagination .current {
        text-decoration: line-through !important;
      }
      .pagination li a {
        display: inline-block;
        padding: 1em;
        border-radius: .5em;
      }
      .pagination li a:hover {
        text-decoration: underline;
      }
      .pagination img {
        max-height: 1em;
        max-width: 2em;
      }


/*Coloring Options Section*/
body {
  background-color: #5ca3a7;
}

aside, article {
  background-color: #fff;
}

article > header, .close {
  color: #fff;
  background-color: #0d0c1e;
}
article > header a {
  color: #fff;
}

.link a {
  background-color: #c1eceb;
}

.tags li a {
  background-color: #b4e0c1;
}

.pagination ul {
  background-color: rgba(255, 255, 255, 1.0);
}
.pagination .current {
  background-color: #b4e0c1;
}
.pagination li a {
  background-color: #c1eceb;
}
.pagination li a:hover {
  background-color: #b4e0c1;
}
